body {
  background-color: red;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: red;

}

#container {
  height: 600px;
  width: 600px;
  display: grid;
  z-index: 100;
  background-color: white;



}

#container div {
  border: 1px solid gray;
  align-content: center;

}

.buttons {
padding: 20px;
border-radius: 20px;
position: absolute;
left: 15px;
background-color: black;
display: flex;
flex-direction: column;
justify-content: space-around;


}

img{
width: 25px;
height: 25px;  
  
}

button {
  background-color: white;
  border-radius: 25px;
  border: 3px solid gold;
  box-shadow: 2px 6px;
  font-weight: bold;
  
}

button:hover {
  background-color: lightgray;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
  box-shadow: 1px 3px ;
}

.resizeInput {
  padding: 10px;
}

h1 {
  font-family: 'Nabla', cursive;
  font-size: 350%;
  

}

h2 {
  font-family: 'Nabla', cursive;
  background-color: red;
}








